
@import url("./../resource/icons/fontawesome-free-6.7.2-web/css/all.css");

html, body {
    align-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}
body{
    background-color: var(--background-color);
}
.navbar {
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
}
.navbar .logo{
    height: 24px;
    width: 24px;
}
.group {
    display: inline-flex;
}

.dropdown-label{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0px;
}
.dropdown{
    position: relative;
}

.dropdown-label::after {
    content:"\f078";
    display: inline-block;
    font-family: "FontAwesome";
    color: var(--light-text-color);
    padding: 8px;
}
.dropdown-menu{
    display: none;
    background-color: var(--background-color);
    color: var(--light-text-color);
    border: 1px solid var(--hover-color);
    z-index: 1;
}
.dropdown:hover > .dropdown-menu{
    display: block !important;
    position: absolute !important;
}
.dropdown-item:hover > .dropdown-menu{
    display: block !important;
    position: absolute !important;
    left: 100%;
    top: 0;
}
.dropdown-item:hover {
    background-color: var(--hover-color);
}
.dropdown-item {
    position: relative !important;
    padding: 6px 16px;
}

button{
    outline: none;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    /* align-self: baseline; */
}
button.btn-primary {
    background-color: #350D44;
    font-family: "Jersey 10";
    color: var(--light-text-color);
    border-radius: 4px;
}
button.btn-ghost {
    background-color: transparent;
}
.row{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.col{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row.center{
   justify-content: center;
}
.col.center{
   align-items: center; 
}
.g-4{
   gap: 8px 4px; 
}
.g-16{
   gap: 16px 8px; 
}
.mb-4{
    margin-bottom: 4px;
}