@import url("./../../../styles/global.css");

html, body {
    align-content: center;
}

#paintingCanvas{
    background-color: #555;
    box-shadow: var(--shadow) 0px 0 10px 6px;
    margin: auto;
    display: block;
}