<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Painting - PixelArt</title> 
    <!-- <script src="./js/index.js" type="module"></script> -->
    <script src="./js/teste.js" type="module"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,0" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet"/>

    <link href="assets/painting.css" rel="stylesheet" type="text/css"></link>
</head>
<body data-theme="dark" style="touch-action:none">
    <section class="navbar">
        <div class="row g-16">
            <div class="dropdown">
                <a class="dropdown-label">${Arquivo}</a>
                
                <div class="dropdown-menu">
                    <div class="dropdown-item">${novo}</div>
                    <div class="dropdown-item">${abrir}</div>
                    <div class="dropdown-item">${salvar}</div>
    
                    <div class="dropdown-item">
                        <a class="dropdown-sub-label">${exportar como}</a>
                        
                        <div class="dropdown-menu">
                            <div class="dropdown-item">JPG</div>
                            <div class="dropdown-item">PNG</div>
                            <div class  ="dropdown-item">GIF</div>
                        </div>
                    </div>
                    
                    <div class="dropdown-item">${redimensionar}</div>
                    <div class="dropdown-item">${atalhos}</div>
                    <div class="dropdown-item">${configuracoes}</div>
                </div>
            </div>
            <div class="dropdown">
                <a class="dropdown-label">
                    ${Ferramentas}
                </a>
                
                <div class="dropdown-menu">
                    <div class="dropdown-item">${redimensionar}</div>
                    <div class="dropdown-item">${atalhos}</div>
                    <div class="dropdown-item">${configuracoes}</div>
                </div>
            </div>
        </div>

        <a href="#">
            <img src="../../resource/img/logomarca.png" class="logo"/>
        </a>
        
        <div class="row g-8">
            <button class="btn-premium">
                <span class="material-symbols-outlined">crown</span>
                Tornar-se Premium
            </button>
            
             <div class="dropdown">
                <a class="dropdown-label">
                    <span class="text-primary">Olá, </span>
                    <span>Guest_80800</span>
                    <img class="perfil-rounded" src="" />
                </a>
                
                <div class="dropdown-menu">
                    <div class="dropdown-item">${perfil}</div>
                    <div class="dropdown-item">${logout}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <section class="pane" id="pane-top">
            <div class="pane-content" id="pane-tool-options">
                <div class="body">
                    <div class="row g-16">
                        <div class="input-group">
                            <button class="btn-primary" id="undo"><span class="material-symbols-outlined">undo</span> </button>
                            <button class="btn-primary" id="redo"><span class="material-symbols-outlined">redo</span> </button>
                        </div>
                        <div id="tool-options">
                            <div class="input-group">
                                <div class="brush-pattern active" id="btn-modal-brush">
                                    <!-- <canvas width="32" height="32"></canvas> -->
                                    <span class="material-icons">square</span>
                                </div>
                            </div>

                            <div class="input-group">
                                <span class="input-label">Tamanho:</span>
                                <input name="size" type="number" value="1" min="1" max="100" style="width: 32px;"/>
                                <span class="input-label">px</span>
                            </div>
                            
                            <div class="input-group">
                                <span class="input-label">Força:</span>
                                <input name="strength" type="number" value="1" min="1" max="100" style="width: 32px;"/>
                                <span class="input-label">%</span>
                            </div>
                            
                            <div class="input-group">
                                <span class="input-label">Espaçamento:</span>
                                <input name="strength" type="number" value="1" min="1" max="100" style="width: 32px;"/>
                                <span class="input-label">px</span>
                            </div>
                            
                            <label class="btn-choice " id="pixel-perfect">
                                <input type="checkbox"/>
                                <span class="material-symbols-outlined">line_curve</span> 
                                Pixel Perfect
                            </label>
                            
                            <label class="btn-choice " id="mirror-x">
                                <input type="checkbox"/>
                                <span class="material-symbols-outlined">flip</span>
                                Espelhar X
                            </label>
                            
                            <label class="btn-choice " id="mirror-y">
                                <input type="checkbox"/>
                                <span class="material-symbols-outlined" style="transform: rotate(90deg);">flip</span>
                                Espelhar Y
                            </label>
                            <label class="btn-choice " id="fill">
                                <input type="checkbox">
                                <span class="material-symbols-outlined">colors</span>Preencher</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pane" id="pane-left">
            <div class="pane-content" id="pane-tool">
                <div class="body">
                    <button class="tool tool-pencil"><img src="../../../src/resource/img/pencil.png" /></button>
                    <button class="tool tool-eraser"><img src="../../../src/resource/img/eraser.png" /></button>
                    <button class="tool tool-dropper"><img src="../../../src/resource/img/dropper.png" /></button>
                    <button class="tool tool-brush"><img src="../../../src/resource/img/brush.png" /></button>
                    <button class="tool tool-bucket"><img src="../../../src/resource/img/bucket.png" /></button>
                    <button class="tool tool-line"><img src="../../../src/resource/img/line.png" /></button>
                    <button class="tool tool-square"><img src="../../../src/resource/img/square.png" /></button>
                    <button class="tool tool-circle"><img src="../../../src/resource/img/circle.png" /></button>
                    <button class="tool tool-select"><img src="../../../src/resource/img/select.png" /></button>
                </div>
            </div>

            <div class="pane-content" id="pane-colors">
                <div class="body">
                    <div class="color-picker">
                        <div class="cromatico">
                            <canvas id="color-picker" width="150" height="150" dragglable="false"></canvas>
                        </div>

                        <div class="working-colors">
                            <span class="work-color secondary-color"></span>
                            <span class="work-color primary-color"></span>
                        </div>
                    </div>

                    <div class="row">
                        <span class="modal-color" id="new-color"></span>
                        <span class="modal-color" id="old-color"></span>
                    </div>

                    <div class="form-group col" id="picker-control">
                        <div class="row">
                            <select class="select-ghost" name="color-pattern">
                                <option selected>HEX</option>
                                <option>RGB</option>
                                <option>HSL</option>
                            </select>
                        </div>

                        <div class="row g-4">   
                            <div class="row g-4 color-form" id="inp-hex">
                                <div class="input-group" id="inp-hex">
                                    <span class="input-label">Hexadecimal</span>
                                    <input name="hex" type="text"/>
                                </div>
                            </div>

                            <div class="row g-4 color-form hidden" id="inp-rgb">
                                <div class="input-group">
                                    <span class="input-label">R</span>
                                    <input name="r" type="number"/>
                                </div>
                                <div class="input-group">
                                    <span class="input-label">G</span>
                                    <input name="g" type="number"/>
                                </div>
                                <div class="input-group">
                                    <span class="input-label">B</span>
                                    <input name="b" type="number"/>
                                </div>
                            </div>
                            
                            <div class="row g-4 color-form  hidden" id="inp-hsl">
                                <div class="input-group">
                                    <span class="input-label">H</span>
                                    <input name="h" type="number" />
                                </div>
                                <div class="input-group">
                                    <span class="input-label">S</span>
                                    <input name="s" type="number" max="100" min="0"/>
                                </div>
                                <div class="input-group">
                                    <span class="input-label">L</span>
                                    <input name="l" type="number" max="100" min="0"/>
                                </div>
                            </div>

                            <button class="btn-primary" id="add-color"><span class="material-symbols-outlined">add</span></button>
                        </div>
                    </div>
                    
                    <div class="top-pane">
                        <select class="select-ghost" name="palette"></select>
                        <button class="btn-ghost-action" id="new-palette"><span class="material-symbols-outlined">add</span></button>
                        <button class="btn-ghost-action" id="trash-palette"><span class="material-symbols-outlined">delete</span></button>
                    </div>

                    <div class="" id="list-colors"></div>
                </div>

                <div class="footer">
                    <button class="btn-ghost-action">
                        <span class="material-symbols-outlined">upload_file</span>
                    </button>
                    <button class="btn-ghost-action"><span class="material-symbols-outlined">file_export</span>
                    </button>
                </div>
            </div>
        </section>
        
        <section id="drawing-area">
            <canvas id="painting"></canvas>
        </section>

        <section class="pane" id="pane-right">
            <div class="pane-content" id="pane-layers">
                <div class="header">
                    <h4>Camadas</h4>
                </div>
                
                <div class="opacity">
                    <input class="slider" name="opacity-layer" type="range" value="1" min="0" max="100" />
                    <span id="opacity-label"><h5>Transparência %</h5></span>
                </div>
                
                <div class="body" id="list-Layers">
                </div>
                
                <div class="footer">
                    <button class="btn-ghost-action" id="add-layer"><span class="material-symbols-outlined">add</span></button>
                    <button class="btn-ghost-action" id="duplicate-layer"><span class="material-symbols-outlined">content_copy</span></button>
                    <button class="btn-ghost-action" id="move-up-layer"><span class="material-symbols-outlined">keyboard_arrow_up</span></button>
                    <button class="btn-ghost-action" id="move-down-layer"><span class="material-symbols-outlined">keyboard_arrow_down</span></button>
                    <button class="btn-ghost-action" id="merge-layer"><span class="material-symbols-outlined">stack_group</span></button>
                    <button class="btn-ghost-action" id="remove-layer"><span class="material-symbols-outlined">delete</span></button>
                </div>
            </div>
            
            <!-- bulletin board -->
            <div class="pane-content" id="pane-advertisement">
                <div class="header">
                    <h4>Mural</h4>
                </div>
                <div class="body col center">
                    <a href="#">
                        <img src="../../resource/img/publicidade.png" height="200px" width="200px"/>
                    </a>
                </div>
            </div>
        </section>
    
        <section class="pane" id="pane-footer">
            <div class="pane-content" id="pane-frames">
                <div class="header">
                    <h4>Quadros</h4>
                    <select class="select-ghost" id="time-all-frame">
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                    </select>
                    
                    <button class="btn-ghost-action" id="animate-frames"><span class="material-symbols-outlined">play_arrow</span> Animar</button>
                    <button class="btn-ghost-action" id="add-frame"><span class="material-symbols-outlined">add</span> Adicionar</button>
                    <button class="btn-ghost-action" id="remove-frame"><span class="material-symbols-outlined">delete</span> Remover</button>
                </div>
                <div class="body hidden">
                    <div id="list-frames">
                    </div>
                    <div class="footer">
                        <button class="btn-ghost-action" id="move-down-frame"><span class="material-symbols-outlined">arrow_back</span></button>
                        <button class="btn-ghost-action" id="move-up-frame"><span class="material-symbols-outlined">arrow_forward</span></button>
                        <button class="btn-ghost-action" id="duplicate-frame"><span class="material-symbols-outlined">content_copy</span></button>
                        <button class="btn-ghost-action" id="flip-x"><span class="material-symbols-outlined">swap_horiz</span></button>
                        <button class="btn-ghost-action" id="flip-y"><span class="material-symbols-outlined">swap_vert</span></button>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div class="modal hidden" id="modal-brush">
        <div class="modal-content row g-16">
            <div class="col g-8">
                <div class="brush-pattern active" style="width:80px;height:80px;margin: 0 auto;">
                    <span class="material-icons">square</span>
                </div>
                
                <div class="form-group col g-8">
                    <div class="col">
                        <span class="input-label">Tamanho:</span>
                        <div class="input-group">
                            <input type="range">
                            <span class="input-label">10px</span>
                        </div>
                    </div>
                    <div class="col">
                        <span class="input-label">Espaçamento:</span>
                        <div class="input-group">
                            <input type="range">
                            <span class="input-label">10px</span>
                        </div>
                    </div>
                    <div class="col">
                        <span class="input-label">Suavizar:</span>
                        <div class="input-group">
                            <input type="range">
                            <span class="input-label">10px</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col g-16">
                <div class="col g-8">
                    <h5 class="">${Brush Tip}</h5>
                    <div class="tab col g-4">
                        <div class="row g-4 tab-nav">
                            <div class="tab-nav-item active" data-page-id="shape-patterns">Shape</div>
                            <div class="tab-nav-item" data-page-id="custom-patterns">Custom</div>
                        </div>
                        
                        <div class="tab-items">
                            <div class="tab-select active" id="shape-patterns"></div>

                            <div class="tab-select" id="custom-patterns"></div>
                        </div>
                    </div>
                </div>
            
                <div class="col g-8">
                    <div class="tab">
                        <div class="input-group a-right">
                            <h5>${Fill}</h5>
                            <select class="select-ghost" id="mode-brush">
                                <option value="solid">Solid Color</option>
                                <option value="stamp">Stamp</option>
                                <option value="pattern">Pattern</option>
                            </select>
                        </div>

                        <div class="tab" id="tab-fill">
                            <div class="tab-select" id="pane-solid"></div>
                            <div class="tab-select" id="pane-stamp"></div>
                            <div class="tab-select" id="pane-pattern">
                                <div id="mask-patterns"></div>

                                <div class="form-group col g-8">
                                    <div class="input-group">
                                        <span class="input-label">Mask:</span>
                                        <select>
                                            <option>Align to Local</option>
                                            <option>Align to Source</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col g-4">
                    <div class="input-group">
                        <input type="checkbox" id="p-perfect">
                        <label class="input-label" for="p-perfect">Pixel Perfect</label>
                    </div>
                    <div class="input-group">
                        <input type="checkbox" id="b-snap">
                        <label class="input-label" for="b-snap">Snap to Grid</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal hidden" id="modal-palette-name">
        <div class="modal-content">
            <div class="form-group row g-4">
                <div class="input-group">
                    <span class="input-label">${Paleta}</span>
                    <input name="name-palette" type="text"/>
                </div>

                <button class="btn-primary" id="add-palette"><span class="material-symbols-outlined">check</span></button>
            </div>
        </div>
    </div>
    
    <script>
        document.querySelectorAll(".dropdown-label")
                .forEach(e=>e.addEventListener("click", drop));

        function drop(){
            const dropdown = this.parentNode;
            const dropdownMenu = this.parentNode.querySelector(".dropdown-menu");

            dropdownMenu.classList.toggle("active");
            
            if(!dropdownMenu.classList.contains("active")) return;

            const dropdownRect = dropdown.getBoundingClientRect();
            const contentRect = dropdownMenu.getBoundingClientRect();

            if (dropdownRect.right + contentRect.width > window.innerWidth) {
                dropdownMenu.style.left = `-${contentRect.width - dropdownRect.width}px`;
            } else {
                dropdownMenu.style.left = '0';
            }

            if (dropdownRect.bottom + contentRect.height > window.innerHeight) {
                dropdownMenu.style.top = `-${contentRect.height}px`;
            } else {
                dropdownMenu.style.top = 'calc(100% + 8px)';
            }

            let abort = new AbortController();
            window.addEventListener("mousedown", (event)=>{
                if (!dropdownMenu.contains(event.target) && !this.contains(event.target)) {
                    dropdownMenu.classList.toggle("active", false);
                    abort.abort();
                }
            }, { signal:abort.signal });
        }
    </script>
    
   
    <script type="module">
        let tab = document.querySelector(".tab");
        let nav = tab.querySelector(".tab-nav");
        let navItems = nav.querySelectorAll(".tab-nav-item");
        navItems.forEach((navItem)=>{
            navItem.onclick = ()=>{
                nav.querySelector(".tab-nav-item.active")?.classList.remove("active");
                tab.querySelector(".tab-items .tab-select.active")?.classList.remove("active");

                navItem.classList.add("active");
                let tabPane = document.getElementById(navItem.dataset.pageId);
                tabPane?.classList.add("active");
            }
        });

        let tabFill = document.querySelector("#tab-fill");
        let mode = {
            "solid": ()=>{
                let lastActivePane = tabFill.querySelector(".tab-select.active");
                lastActivePane?.classList.remove("active");
                
                let activePane = tabFill.querySelector("#pane-solid");
                activePane.classList.add("active");
            },
            "stamp": ()=>{
                let lastActivePane = tabFill.querySelector(".tab-select.active");
                lastActivePane?.classList.remove("active");
                
                let activePane = tabFill.querySelector("#pane-stamp");
                activePane.classList.add("active");
            },
            "pattern": ()=>{
                let lastActivePane = tabFill.querySelector(".tab-select.active");
                lastActivePane?.classList.remove("active");

                let activePane = tabFill.querySelector("#pane-pattern");
                activePane.classList.add("active");
            },
        };

        let panePattern = document.querySelector("#pattern");
        let selectModeBrush = document.querySelector("#mode-brush");
        selectModeBrush.onchange = (e)=>{ mode[e.srcElement.value]() };
        mode[selectModeBrush.value]();
    </script>
</body>
</html>