<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painting - PixelArt</title>

    <link href="./../../styles/themes/dark.css" rel="stylesheet" type="text/css"></link>     
    <link href="assets/painting.css" rel="stylesheet" type="text/css"></link>
</head>
<body data-theme="dark">
    <section class="navbar">
        <div class="dropdown">
            <button class="dropdown-label">
                <img src="../../resource/img/logo.png" class="logo"/>
                <h3>PREEBIT</h3>
            </button>
            
            <div class="dropdown-menu">
                <div class="dropdown-item">${novo}</div>
                <div class="dropdown-item">${salvar}</div>

                <div class="dropdown-item">
                    ${export-as}
                    
                    <div class="dropdown-menu">
                        <div class="dropdown-item">JPG</div>
                        <div class="dropdown-item">PNG</div>
                        <div class  ="dropdown-item">GIF</div>
                    </div>
                </div>
                
                <div class="dropdown-item">${redimensionar}</div>
                <div class="dropdown-item">${atalhos}</div>
                <div class="dropdown-item">${configuracoes}</div>
            </div>
        </div>

        <div class="group">
            <button class="btn-ghost btn-premium"><img src="" /></button>
            
             <div class="dropdown">
                <button class="dropdown-label">
                    <img class="perfil-rounded" src="" />
                </button>
                
                <div class="dropdown-menu">
                    <div class="dropdown-item">${logout}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <section class="pane" id="pane-top">
            <div class="pane-content" id="pane-tool-options">
                <div class="body">
                    <div class="row">
                        <button class="btn-ghost-action"><i class="fa fa-reply"></i></button>
                        <button class="btn-ghost-action"><i class="fa fa-share"></i></button>
                    
                        <div class="input-group">
                            <span class="input-label">Tamanho</span>
                            <input name="size" type="range" value="1" min="0" max="100"/>
                        </div>
                    
                        <div class="input-group">
                            <span class="input-label">Tamanho</span>
                            <input name="size" type="range" value="1" min="0" max="100"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pane" id="pane-left">
            <div class="pane-content" id="pane-tool">
                <div class="body">
                    <button class="tool tool-pencil"><img src="../../../src/resource/img/pencil.png" /></button>
                    <button class="tool tool-eraser"><img src="../../../src/resource/img/eraser.png" /></button>
                    <button class="tool tool-dropper"><img src="../../../src/resource/img/dropper.png" /></button>
                    <button class="tool tool-brush"><img src="../../../src/resource/img/brush.png" /></button>
                    <button class="tool tool-bucket"><img src="../../../src/resource/img/bucket.png" /></button>
                    <button class="tool tool-line"><img src="../../../src/resource/img/line.png" /></button>
                    <button class="tool tool-square"><img src="../../../src/resource/img/square.png" /></button>
                    <button class="tool tool-circle"><img src="../../../src/resource/img/circle.png" /></button>
                </div>
            </div>

            <div class="pane-content" id="pane-colors">
                <div class="body">
                    <div class="color-picker">
                        <div class="cromatico">
                            <canvas id="color-picker" width="150" height="150" dragglable="false"></canvas>
                            <span class="marker" id="hue" data-hue="0"></span>
                            <span class="marker" id="color" data-saturation="0" data-light="0"></span>
                        </div>

                        <div class="working-colors">
                            <span class="work-color secondary-color"></span>
                            <span class="work-color primary-color"></span>
                        </div>
                    </div>

                    <div class="row">
                        <span class="modal-color" id="new-color"></span>
                        <span class="modal-color" id="old-color"></span>
                    </div>

                    <div class="form-group col" id="picker-control">
                        <div class="row">
                            <select name="color-pattern">
                                <option selected>HEX</option>
                                <option>RGB</option>
                                <option>HSL</option>
                            </select>
                        </div>

                        <div class="row g-4">   
                            <div class="row g-4 color-form" id="inp-hex">
                                <div class="input-group" id="inp-hex">
                                    <span class="input-label">Hexadecimal</span>
                                    <input name="hex" type="text"/>
                                </div>
                            </div>

                            <div class="row g-4 color-form hidden" id="inp-rgb">
                                <div class="input-group">
                                    <span class="input-label">R</span>
                                    <input name="r" type="number"/>
                                </div>
                                <div class="input-group">
                                    <span class="input-label">G</span>
                                    <input name="g" type="number"/>
                                </div>
                                <div class="input-group">
                                    <span class="input-label">B</span>
                                    <input name="b" type="number"/>
                                </div>
                            </div>
                            
                            <div class="row g-4 color-form  hidden" id="inp-hsl">
                                <div class="input-group">
                                    <span class="input-label">H</span>
                                    <input name="h" type="number" />
                                </div>
                                <div class="input-group">
                                    <span class="input-label">S</span>
                                    <input name="s" type="number" max="100" min="0"/>
                                </div>
                                <div class="input-group">
                                    <span class="input-label">L</span>
                                    <input name="l" type="number" max="100" min="0"/>
                                </div>
                            </div>

                            <button class="btn-primary" id="add-color"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    
                    <div class="top-pane">
                        <select name="palette"></select>
                        <button class="btn-ghost-action" id="new-palette"><i class="fa fa-plus"></i></button>
                        <button class="btn-ghost-action" id="trash-palette"><i class="fa fa-trash"></i></button>
                    </div>

                    <div class="" id="list-colors"></div>
                </div>

                <div class="footer">
                    <button class="btn-ghost-action">
                        <i class="fa fa-file-import"></i>
                    </button>
                    <button class="btn-ghost-action">
                        <i class="fa fa-file-export"></i>
                    </button>
                </div>
            </div>
        </section>
        
        <section id="drawing-area">
            <canvas id="painting" width="40" height="32"></canvas>
            <canvas id="preview" width="40" height="32"></canvas>
        </section>

        <section class="pane" id="pane-right">
            <div class="pane-content" id="pane-layers">
                <div class="header">
                    <h4>Camadas</h4>
                </div>
                
                <div class="opacity">
                    <input class="slider" name="opacity-layer" type="range" value="1" min="0" max="100" />
                    <span id="opacity-label"><h5>Transparência %</h5></span>
                </div>
                
                <div class="body" id="list-Layers">
                </div>
                
                <div class="footer">
                    <button class="btn-ghost-action" id="add-layer"><i class="fa fa-plus"></i></button>
                    <button class="btn-ghost-action" id="duplicate-layer"><i class="fa fa-clone"></i></button>
                    <button class="btn-ghost-action" id="move-up-layer"><i class="fa fa-angle-up"></i></button>
                    <button class="btn-ghost-action" id="move-down-layer"><i class="fa fa-angle-down"></i></button>
                    <button class="btn-ghost-action" id="merge-layer"><i class="fa fa-circle-half-stroke"></i></button>
                    <button class="btn-ghost-action" id="remove-layer"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            
            <div class="pane-content" id="pane-advertisement">
                <div class="header">
                    <h4>Publicidade</h4>
                </div>
                <div class="body col center">
                    <img height="200px" width="200px"/>
                </div>
            </div>
        </section>
    
        <section class="pane pane-frames" id="pane-footer">
            <div class="pane-content">
                <div class="header">
                    <h4>Quadros</h4>
                    <select id="time-all-frame">
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                        <option value="60">60 ms</option>
                    </select>
                    
                    <button class="btn-ghost-action" id="animate-frames"><i class="fa fa-play"></i> Animar</button>
                    <button class="btn-ghost-action" id="add-frame"><i class="fa fa-plus"></i> Adicionar</button>
                    <button class="btn-ghost-action" id="remove-frame"><i class="fa fa-trash"></i> Remover</button>
                </div>
                <div class="body hidden">
                    <div id="list-frames">
                    </div>
                    <div class="footer">
                        <button class="btn-ghost-action" id="move-down-frame"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn-ghost-action" id="move-up-frame"><i class="fa fa-arrow-right"></i></button>
                        <button class="btn-ghost-action" id="duplicate-frame"><i class="fa fa-clone"></i></button>
                        <button class="btn-ghost-action" id="flip-x"><i class="fa fa-shuffle"></i></button>
                        <button class="btn-ghost-action" id="flip-y"><i class="fa fa-shuffle"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div class="modal hidden" id="modal-pallete-name">
        <div class="modal-content">
            <div class="form-group row g-4">
                <div class="input-group">
                    <span class="input-label">${Paleta}</span>
                    <input name="name-pallete" type="text"/>
                </div>

                <button class="btn-primary" id="add-pallete"><i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
    
   
    <script type="module">
        import { Chromatic, ColorFactory } from "./js/chromatic.js"

        let activeColor = [0,0,0];
        let secondaryColor = [255,255,255];
        let palette = [{
            name: "Default",
            colors:[
                [255,0,0],
                [0,255,0],
            ]
        },
        {
            name: "Sombras",
            colors:[
                [255,0,0],
                [255,255,0],
            ]
        },
        {
            name: "Luzes",
            colors:[
                [255,0,0],
                [0,255,255],
            ]
        }];
        
        let selectColorPattern = document.querySelector("select[name='color-pattern']");
        let workPrimaryColor = document.querySelector(".work-color.primary-color");
        let workSecondaryColor = document.querySelector(".work-color.secondary-color");

        let btnOpenModalAddPalette = document.querySelector("#new-palette");
        let modalPaletteName = document.querySelector("#modal-pallete-name");
        let btnAddPalette = document.querySelector("#add-pallete");
        let btnRemovePalette = document.querySelector("#trash-palette");

        let btnOpenModalAddColor = document.querySelector("#open-modal-color");
        let modalAddColor = document.querySelector("#modal-color-picker");
        let btnAddColor= document.querySelector("#add-color");

        let selectPalette = document.querySelector("select[name='palette']");
        let listColors= document.getElementById("list-colors");
        
        // INPUTS
        let inpColorHex = document.querySelector("input[name=hex]");

        let inpColorR = document.querySelector("input[name=r]");
        let inpColorG = document.querySelector("input[name=g]");
        let inpColorB = document.querySelector("input[name=b]");

        let inpColorH = document.querySelector("input[name=h]");
        let inpColorS = document.querySelector("input[name=s]");
        let inpColorL = document.querySelector("input[name=l]");
        
        selectColorPattern.addEventListener("change", loadColorPattern);
        inpColorR.addEventListener("input", updateRGB);
        inpColorG.addEventListener("input", updateRGB);
        inpColorB.addEventListener("input", updateRGB);

        inpColorH.addEventListener("input", updateHSL);
        inpColorS.addEventListener("input", updateHSL);
        inpColorL.addEventListener("input", updateHSL);

        inpColorHex.addEventListener("input", updateHex);

        function updateHex(){
            try{
                let color = ColorFactory().buildByHex(this.value);
                console.log(modalChromatic)
                modalChromatic.setColor(color);
            } catch(e){
                console.warn(e)
            }
        }
        function updateHSL(){
            if(inpColorH.value < 0){
                inpColorH.value = 359;
            }else if(inpColorH.value >= 360){
                inpColorH.value = 0;
            }
            inpColorS.value = Math.min(100, Math.max(inpColorS.value, 0));
            inpColorL.value = Math.min(100, Math.max(inpColorL.value, 0));

            let color = ColorFactory().buildByHSL(inpColorH.value, inpColorS.value, inpColorL.value);

            modalChromatic.setColor(color);
        }
        function updateRGB(){
            inpColorR.value = Math.min(255, Math.max(inpColorR.value, 0));
            inpColorG.value = Math.min(255, Math.max(inpColorG.value, 0));
            inpColorB.value = Math.min(255, Math.max(inpColorB.value, 0));

            let color = ColorFactory().buildByRGB(inpColorR.value, inpColorG.value, inpColorB.value);
            modalChromatic.setColor(color);
        }
        function loadColorPattern(){
            document.querySelectorAll(".color-form").forEach((f)=>f.classList.toggle("hidden", true));

            let pattern;
            switch(selectColorPattern.value){
                case "HEX":
                    pattern = document.querySelector("#inp-hex");
                    break;
                case "RGB":
                    pattern = document.querySelector("#inp-rgb");
                    break;
                case "HSL":
                    pattern = document.querySelector("#inp-hsl");
                    break;
            }

            pattern.classList.toggle("hidden", false);
        }
        
        window.addEventListener("load", function(){
            window.modalChromatic = Chromatic({
                content: document.getElementById("chromatic"),
                width:100,
                height:100,
                onUpdateColor: onUpdateColor
            });
            workPrimaryColor.style.background = `rgb(${ activeColor[0] }, ${activeColor[1]}, ${activeColor[2]})`;    
            workSecondaryColor.style.background = `rgb(${ secondaryColor[0] }, ${secondaryColor[1]}, ${secondaryColor[2]})`;
            loadColorPattern();
            swapActiveColor(activeColor);
            
            palette.forEach(p => loadPalette(p));
            loadActivePalette();
        });

        function onUpdateColor(color){
            inpColorHex.value = color.hex.replace(/^#/,"");

            inpColorR.value = color.rgb.r;
            inpColorG.value = color.rgb.g;
            inpColorB.value = color.rgb.b;

            inpColorH.value = Math.round(color.hsl.h);
            inpColorS.value = color.hsl.s;
            inpColorL.value = color.hsl.l;
            
            let newColor = document.querySelector("#new-color");
            newColor.style.background = color.hex;
        }

        workSecondaryColor.addEventListener("click", function(e){
            let spanColor = listColors.querySelector(`.color[data-color='rgb(${secondaryColor[0]}, ${secondaryColor[1]}, ${secondaryColor[2]})']`);
            swapActiveColor.call(spanColor, secondaryColor);
        });

        btnRemovePalette.addEventListener("click", ()=>removePalette());
        btnAddPalette.addEventListener("click", function(e){
            let newPalette = {
                name: document.querySelector("input[name='name-pallete']").value,
                colors:[]
            };

            palette.push(newPalette);
            loadPalette(newPalette);
            selectPalette.value = newPalette.name;
            loadActivePalette();
        });

        btnOpenModalAddPalette.addEventListener("click", function(e){
            modalPaletteName.classList.toggle("hidden", false);

            let abort = new AbortController();
            window.addEventListener("mousedown", function(){
                if (!btnOpenModalAddPalette.contains(event.target)
                    && !modalPaletteName.contains(event.target)) {
                    modalPaletteName.classList.toggle("hidden", true);
                    abort.abort();
                }
            }, { signal:abort.signal });
        });

        btnOpenModalAddColor.addEventListener("click", function(e){
            const rect = btnOpenModalAddColor.getBoundingClientRect();

            modalAddColor.classList.toggle("hidden", false);
            
            const padding = 15;
            const modalWidth = modalAddColor.offsetWidth;
            const modalHeight = modalAddColor.offsetHeight;
            const windowWidth = window.innerWidth;
            const windowHeight = window.innerHeight;

            let top = rect.bottom - modalHeight / 2;
            let left = rect.left - modalWidth - 30;

            top = Math.max(padding, Math.min(top, windowHeight - modalHeight - padding));
            left = Math.max(padding, Math.min(left, windowWidth - modalWidth - padding));

            modalAddColor.style.top = `${top + window.scrollY}px`;
            modalAddColor.style.left = `${left + window.scrollX}px`;

            let oldColor = modalAddColor.querySelector("#old-color");
            oldColor.style.background = `rgb(${activeColor[0]}, ${activeColor[1]}, ${activeColor[2]})`;

            e.stopPropagation();
            
            let abort = new AbortController();
            window.addEventListener("mousedown", function(){
                if (!btnOpenModalAddColor.contains(event.target)
                    && !modalAddColor.contains(event.target)) {
                    modalAddColor.classList.toggle("hidden", true);
                    abort.abort();
                }
            }, { signal:abort.signal })
        });

        selectPalette.addEventListener("change", ()=> loadActivePalette());
        
        btnAddColor.addEventListener("click", function(){
            let r = document.querySelector("input[name=r]").value;
            let g = document.querySelector("input[name=g]").value;
            let b = document.querySelector("input[name=b]").value;

            let color = [r, g, b];
            activeColor = color;
            addColor(color);
        });
        
        function loadActivePalette(){
            listColors.querySelectorAll(".color").forEach((c)=>c.remove());
            const activeIndex = palette.findIndex((p)=> p.name === selectPalette.value);
            palette[activeIndex].colors.forEach(color => addColor(color));
        }
        
        function addColor(color){
            const activeIndex = palette.findIndex((p)=> p.name === selectPalette.value);
            if(palette[activeIndex].colors.find((c)=>  c != color)){
                palette[activeIndex].colors.push(color);
            }

            let spanColor = listColors.querySelector(`.color[data-color='rgb(${color[0]}, ${color[1]}, ${color[2]})']`);

            if(spanColor === null){
                spanColor = document.createElement("span");
                spanColor.style.background = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
                spanColor.className = "color";
                spanColor.dataset.color = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
                listColors.append(spanColor);
                
                spanColor.addEventListener("click", function(){
                    swapActiveColor.call(this, color);
                });
            }

            if(activeColor[0] === color[0] && activeColor[1] === color[1] && activeColor[2] === color[2]){    
                swapActiveColor.call(spanColor, color);
            }
        }
        function swapActiveColor(color){
            if(secondaryColor[0] === color[0] && secondaryColor[1] === color[1] && secondaryColor[2] === color[2]){    
                workPrimaryColor.style.background = `rgb(${ secondaryColor[0] }, ${secondaryColor[1]}, ${secondaryColor[2]})`;
                workSecondaryColor.style.background = `rgb(${ activeColor[0] }, ${activeColor[1]}, ${activeColor[2]})`;
                secondaryColor = activeColor;
            }

            activeColor = color;
            let selectedColor = document.querySelector(".work-color.primary-color");
            let oldColor = document.querySelector("#old-color");

            selectedColor.style.background = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
            oldColor.style.background = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;

            document.querySelector(".color.active")?.classList.remove("active");
            this?.classList.toggle("active",true);
        }
        
        function loadPalette(p){
            let optionPalette = document.createElement("option");
            optionPalette.value = p.name;
            optionPalette.innerText = p.name;
            selectPalette.append(optionPalette)
        }
    
        function removePalette(){
            if(selectPalette.value === "Default")
                return;

            let index = palette.findIndex((p)=> p.name == selectPalette.value);
            if (index <= -1) return;
            
            palette.splice(index, 1);
            selectPalette.querySelector(`option[value=${selectPalette.value}]`).remove();
            selectPalette.value = "Default";
            loadActivePalette();
        }
    </script>

    <script>
        var ctr = 1;
        window.addEventListener("load", function(){          
            addFrame({});
            ctrFrame = listFrame.querySelectorAll("div.frame").length + 1;
            addLayer({});
            ctr = listLayer.querySelectorAll(".layer").length + 1;
        });

        /* FRAMES */
        var ctrFrame = 1;
        let activeFrame;
        let listFrame = document.getElementById("list-frames");
        
        let headerFrame = document.querySelector("#pane-footer .header");
        let btnAddFrame = document.getElementById("add-frame");
        let btnCloneFrame = document.getElementById("duplicate-frame");
        let btnMoveDownFrame = document.getElementById("move-down-frame");
        let btnMoveUpFrame = document.getElementById("move-up-frame");
        let btnRemoveFrame = document.getElementById("remove-frame");

        headerFrame.addEventListener("click", function(e){
            if(e.target.classList.contains("header"))
                this.parentNode.querySelector(".body").classList.toggle("hidden")
        });

        btnMoveDownFrame.addEventListener("click", function(){
            let frames = [...listFrame.querySelectorAll("div.frame")];
            let previousFrame = frames.indexOf(activeFrame) - 1;

            if(previousFrame>= 0)
                frames[previousFrame].before(activeFrame);
        });
        btnMoveUpFrame.addEventListener("click", function(){
            let frames = [...listFrame.querySelectorAll("div.frame")];
            let nextFrame = frames.indexOf(activeFrame) + 1;

            if(nextFrame < frames.length)
                frames[nextFrame].after(activeFrame);
        });
        btnAddFrame.addEventListener("click", addFrame);
        btnRemoveFrame.addEventListener("click", function(){
            if(listFrame.querySelectorAll("div.frame").length <= 1) return;

            let frames = [...listFrame.querySelectorAll(".frame")];
            let indexActiveFrame = frames.indexOf(activeFrame);
            activeFrame.remove();

            frames = [...listFrame.querySelectorAll("div.frame")];

            if (frames.length === 0) return;

            let nextFrame;
            if (indexActiveFrame < frames.length) {
                nextFrame = frames[indexActiveFrame];
            } else {
                nextFrame = frames[frames.length - 1];
            }

            swapActiveFrame.call(nextFrame);
        });

        btnCloneFrame.addEventListener("click", function(){
            addFrame({});
        });
        
        function addFrame(options){
            let frame = document.createElement("div");
            let canvas = document.createElement("canvas");
            
            frame.classList.add("frame");
            canvas.id = options.id ?? ctrFrame;

            if(listFrame.querySelectorAll(".frame").length == 0){
                swapActiveFrame.call(frame);
            }

            frame.append(canvas);
            listFrame.prepend(frame);

            frame.addEventListener("click", swapActiveFrame);
            ctrFrame++;
        }
        function swapActiveFrame(){
            activeFrame?.classList.remove("active");
            this.classList.add("active");
            activeFrame = this;
        }

        /* LAYER */
        let activeLayer;
        let inpOpacity = document.querySelector("input[name='opacity-layer']");
        let listLayer = document.getElementById("list-Layers");

        let btnAddLayer = document.getElementById("add-layer");
        let btnCloneLayer = document.getElementById("duplicate-layer");
        let btnMoveDown = document.getElementById("move-down-layer");
        let btnMoveUp = document.getElementById("move-up-layer");
        let btnRemoveLayer = document.getElementById("remove-layer");
        
        inpOpacity.addEventListener("input", function(){
            document.querySelector("#opacity-label h5").innerText = "Transparência " + this.value + "%"
            activeLayer.dataset.opacity = this.value;
        });
        btnMoveDown.addEventListener("click", function(){
            let layers = [...listLayer.querySelectorAll(".layer")];
            let nextLayer = layers.indexOf(activeLayer) + 1;

            if(nextLayer < layers.length)
                layers[nextLayer].after(activeLayer);
        });
        btnMoveUp.addEventListener("click", function(){
            let layers = [...listLayer.querySelectorAll(".layer")];
            let previousLayer = layers.indexOf(activeLayer) - 1;

            if(previousLayer>= 0)
                layers[previousLayer].before(activeLayer);
        });
        btnAddLayer.addEventListener("click", addLayer);
        btnRemoveLayer.addEventListener("click", function(){
            if(listLayer.querySelectorAll(".layer").length <= 1) return;

            let layers = [...listLayer.querySelectorAll(".layer")];
            let indexActiveLayer = layers.indexOf(activeLayer);
            activeLayer.remove();

            layers = [...listLayer.querySelectorAll(".layer")];

            if (layers.length === 0) return;

            let nextLayer;
            if (indexActiveLayer < layers.length) {
                nextLayer = layers[indexActiveLayer];
            } else {
                nextLayer = layers[layers.length - 1];
            }

            swapActiveLayer.call(nextLayer);
        });
        btnCloneLayer.addEventListener("click", function(){
            let title = findTitle(activeLayer.dataset.title, 1);

            addLayer({
                title: title,
                ishidden: activeLayer.dataset.ishidden,
                islock: activeLayer.dataset.islock
            });
        });
        
        function findTitle(find, cntr) {
            const layers = [...listLayer.querySelectorAll(".layer")];
            const exists = layers.some(e => e.dataset.title === find);

            if (exists) {
                const newFind = `${find.replace(/\(\d+\)$/, '')}(${cntr})`;
                return findTitle(newFind, cntr + 1);
            }

            return find;
        }
        function addLayer(options){
            let layer = document.createElement("div");
            let nameLayer = document.createElement("div");
            let h5 = document.createElement("h5");
            let btnHideLayer = document.createElement("button");
            let btnLockLayer = document.createElement("button");
            let btnGrabLayer = document.createElement("button");
            
            layer.classList.add("layer");
            layer.id = options.id ?? ctr;
            layer.dataset.islock = options.islock ?? false;
            layer.dataset.ishidden = options.ishidden ??false;
            layer.dataset.title = options.title ?? findTitle("Layer " + ctr, 1);
            layer.dataset.opacity = options.opacity ?? 100;

            if(listLayer.querySelectorAll(".layer").length == 0){
                swapActiveLayer.call(layer);
            }

            nameLayer.className = "text";
            nameLayer.className = "name-layer"
            h5.innerText = layer.dataset.title;

            btnHideLayer.className = "hide-layer";
            btnHideLayer.innerHTML = "<i class=\"fa fa-eye\"></i>";

            btnLockLayer.className = "lock-layer";
            btnLockLayer.innerHTML = "<i class=\"fa fa-lock\"></i>";

            btnGrabLayer.className = "grab-layer";
            btnGrabLayer.innerHTML = "<i class=\"fa fa-grip-lines\"></i>";

            layer.append(btnHideLayer);
            nameLayer.append(h5);
            layer.append(nameLayer);
            layer.append(btnLockLayer);
            layer.append(btnGrabLayer);
            listLayer.prepend(layer);

            layer.addEventListener("click", swapActiveLayer);
            btnLockLayer.addEventListener("click", function(){
                let isLocking = layer.getAttribute("data-islock") === "true";
                let icon = this.querySelector("i");
                
                if(!isLocking){
                    icon.classList.remove("fa-unlock");
                    icon.classList.add("fa-lock");
                    layer.dataset.islock = true;
                    return;
                }
                layer.dataset.islock = false;
                icon.classList.remove("fa-lock");
                icon.classList.add("fa-unlock");
            });
            btnHideLayer.addEventListener("click", function(){
                let isHidden = layer.getAttribute("data-ishidden") === "true";
                let icon = this.querySelector("i");
                
                if(!isHidden){
                    icon.classList.remove("fa-eye");
                    icon.classList.add("fa-eye-slash");

                    layer.classList.add("hidden-layer");
                    layer.dataset.ishidden = true;
                    return;
                }
                
                layer.dataset.ishidden = false;
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");

                layer.classList.remove("hidden-layer");
            });
            btnGrabLayer.addEventListener("mousedown", (e) => {
                let abort = new AbortController();
                e.preventDefault();
            
                window.addEventListener("mousemove", (e)=> {
                    listLayer.querySelectorAll(".layer").forEach(el => el.classList.remove("swap"));
                    e.target.closest(".layer")?.classList.add("swap");
                },{signal: abort.signal});
                window.addEventListener("mouseup", (e)=>{
                    e.target?.closest(".layer").classList.remove("swap");
                    e.target?.closest(".layer").after(layer);
                    abort.abort();
                }, { once: true });
            });
            nameLayer.addEventListener("dblclick", function(e){
                let inpNameLayer = document.createElement("input");
                inpNameLayer.value = layer.dataset.title;
                inpNameLayer.type = "text";

                nameLayer.replaceChild(inpNameLayer, h5);
                inpNameLayer.focus();
                inpNameLayer.addEventListener("blur", function(){
                    if(inpNameLayer.value == ""){
                        nameLayer.replaceChild(h5, inpNameLayer);
                        return;
                    }

                    layer.dataset.title = findTitle(inpNameLayer.value, 1);
                    h5.innerText = layer.dataset.title;
                    nameLayer.replaceChild(h5, inpNameLayer);
                });
                inpNameLayer.addEventListener("keypress", function(e){
                    if(e.keyCode == 13)
                        inpNameLayer.blur();
                });
            });
            ctr++;
        }
        function swapActiveLayer(){
            activeLayer?.classList.remove("active");
            this.classList.add("active");
            activeLayer = this;

            document.querySelector("#opacity-label h5").innerText = "Transparência " + activeLayer.dataset.opacity + "%"
            inpOpacity.value = activeLayer.dataset.opacity;
        }
    </script>
</body>
</html>