@import url("./../../../styles/global.css");
@import url("./../../../resource/fonts/Jersey_10/Jersey-10.css");

*{
    user-select: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--light-text-color);
    margin: 0;
}
h4{
    font-size: 18px;
    line-height: 18px;
}
h5{
    font-size: 16px;
    line-height: 16px;
}

input[type="range"]{
    -webkit-appearance : none;
    outline: none;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    accent-color: #525E36;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance : none;
    background-color: #D9D9D9;
    height: 4px;
    border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance : none;
    background : #525E36;
    accent-color: #525E36;
    height: 12px;
    width:  12px;
    border-radius: 50%;
    margin-top: -4px;
}
i, .material-symbols-outlined{
    font-size: 10px;
}
select{
    border: none;
    outline: none;
    height: 100%;
    color: var(--light-text-color);
    background-color: transparent;
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
    padding: 8px 16px;
}
select option{
    color: var(--light-text-color);
    background-color: var(--background-color);
    outline: none;
}

select option:hover{
    background-color: var(--hover-color);
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
}
.frame canvas{
    background-color: #ccc;
    background-image: url('../../../resource/img/background_canvas.png');
    background-size: 100%;
    image-rendering: pixelated;
    transform-origin: top left;
    height: 96px;
    width: 96px;
    margin: 0;
}

#drawing-area canvas#painting{
    background-color: var(--background-color);
    position: absolute;
}
.content {
    height: 100%;
    display:grid; 
    grid-template-areas: "top top right"
                        "left canvas right"
                         "footer footer right";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    
    background: #441d51;
    gap: 4px;
    padding: 4px;
} 
#drawing-area{
    grid-area: canvas;
    /* overflow-y: auto;
    overflow-x: auto; */
    overflow: clip;
    background-color: var(--background-color);
    position: relative;
}
#selected-area{
    display: block;
}
#selected-area .marker{
    box-shadow: #e06900 0 0 0 0.1px;
    background-color: #e06900;
    width: 10px;
    height: 10px;
}
#selected-area .marker#m-top-left{
    left:50px;
    top:50px;
    translate: -50% -50%;
}
#selected-area .marker#m-top-right{
    right:0;
    top:0;
    translate: 50% -50%;
}
#selected-area .marker#m-bottom-right{
    right:0;
    bottom:0;
    translate: 50% 50%;
}
#selected-area .marker#m-bottom-left{
    left:0;
    bottom:0;
    translate: -50% 50%;
}

#pane-top{
    grid-area: top;
}
#pane-left{
    grid-area: left;
    display:grid; 
    grid-template-columns: auto 200px;
    overflow: hidden;
}
#pane-right{
    grid-area: right;
    display: flex;
    flex-direction: column;
    width: 209px;
}
#pane-advertisement{
    grid-area: ad;
}
#pane-footer{
    grid-area: footer;
}
.pane{
    background: #441d51;
    gap: 4px;
    overflow-y: auto;
}

.pane-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}
.pane-content .body::-webkit-scrollbar {
  width: 6px;
}
.pane-content .body::-webkit-scrollbar-track {
  background: transparent;
  width: 0px;
  position: absolute;
  border-radius: 0px;
}
.pane-content .body::-webkit-scrollbar-thumb {
  background: hsl(283, 24%, 42%);
  border-radius: 4px;
}

.pane-content .body{
    background-color: var(--primary-color);
    width: auto;
    overflow-y: auto;
}
.pane .tabs{
    background-color: var(--primary-color);
}
.pane .tab{
    padding: 16px 4px;
    writing-mode: sideways-rl;
    cursor: pointer;
}
.pane .tab.active{
    background-color: var(--panel-outline-color);
}
.pane .tab:not(.active):hover{
    background-color: var(--panel-outline-color);
}
.pane .header{
    background-color: var(--panel-outline-color);
    background-color: #441D51;
    padding:8px 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#pane-tool .footer{
    align-self: center;
}
#tool-options {
    display: flex;
    align-items: center;
    gap: 8px;
}
#pane-tool-options .body{
    padding: 4px 8px;
}
.pane #pane-tool{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.pane #pane-tool .body{
    padding: 16px 0px;
    display: grid;
    justify-content: center;
    align-content: start;
    gap: 4px 4px;
    grid-template-columns: auto;
    height: 100%;
    overflow-y: auto;
}
.pane #pane-tool .tool {
    width: min-content;
    height: min-content;
    background-color: transparent;
    padding: 8px;
}
.pane #pane-tool .tool:hover {
    background: rgb(0 0 0 / 10%)
}
.pane #pane-tool .tool img{
    width: 16px;
}
.pane #pane-tool button.tool.active {
    background: #3d2745 !important;
}

.opacity{
    position: relative;
}
.opacity span{
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 0;
    pointer-events: none;
    padding: 0 8px;
}


input[type="range"].slider {
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    outline: none;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
input[type="range"].slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #D9D9D9;
    height: 32px;
    width: 2px;
    box-shadow: -100vh 0 0 100vh #846291;
    margin: 0;
}
input[type="range"].slider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    background-color: #5C4165;
    height: 100%;
    width: 10px;
    overflow: hidden;
}

.layer{
    display: flex;
    align-items: stretch;
    margin-bottom: 4px;
    cursor: pointer;
}
.layer.active {
    background-color: #37233e;
}
.layer:hover {
    background-color: #37233e;
}
.layer button{
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--light-text-color);
    padding: 8px;
    align-self: center;
}
.layer .name-layer{
    flex: 1;
    align-content: center;
    padding: 0px 8px;
    white-space: nowrap;
    overflow: hidden;
}
.layer .name-layer input{
    background-color: transparent;
    font-family: "Jersey 10", sans-serif;
    text-overflow: ellipsis;
    color: var(--light-text-color); 
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0px;
}
#list-Layers{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 8px 0px;
}
#pane-layers{
    display: flex;
    flex-direction: column;
    flex:1;
}
.pane .footer{
    background-color: #5C4165;
    display: flex;
    justify-content: center;
}
#pane-footer .header{
    padding: 0px 16px;
}
.btn-ghost-action{
    background-color: transparent;
    color: var(--light-text-color);
    font-family: "Jersey 10", sans-serif;
}
.layer button:hover{
    background-color: var(--hover-color);
}
.btn-ghost-action:hover{
    background-color: var(--hover-color);
}
.btn-choice{
    font-family: 'Jersey 10';
    background: transparent;
    color: var(--light-text-color);
    border-radius: 4px;
    font-size: 16px;
    padding: 4px 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    transition: background 0.3s;
    box-shadow: 0px 0px 10px 1px #0000004d inset;
    text-wrap-mode: nowrap;
}
.btn-choice:has(input[type="checkbox"]:checked) {
    outline: #301439 2px solid;
    background: #bbaac0;
    color: #301439;
    box-shadow: none;
}
.btn-choice input[type="checkbox"]{
    display: none;
}
.top-pane{
    display: flex;
}
.pane .body{
    flex: 1;
}
#list-colors{
    display:grid;
    gap: 2px 2px;
    grid-template-columns: repeat(6, 24px);
    grid-auto-rows: 24px;
    justify-content: center;
}
span.color{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: var(--light-text-color);
    cursor: pointer;
    padding: 0;
}
span.color.active{
  -webkit-mask-image: radial-gradient(circle at 8px 8px, transparent 2px, black 2px);
  mask-image: radial-gradient(circle at 8px 8px, transparent 2px, black 2px);
}

.hidden{
    display: none;
}
.layer.after-indicator, .layer.before-indicator{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
.layer.after-indicator::after {
    content: "";
    background: hsl(285 49% 24% / 1);
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 3px;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 3px 0px 0px rgb(240 202 14);
}
.layer.before-indicator::before {
    content: "";
    background: hsl(285 49% 24% / 1);
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 3px;
    top: 0px;
    left: 0px;
    box-shadow: 0px -3px 0px 0px rgb(240 202 14);
}
.layer .grab-layer{
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    padding: 8px;
}
.layer .grab-layer:hover{
    background-color: transparent;
}

select#time-all-frame::before {
    content: "\f017";
    font-family: 'FontAwesome';
    display: block;
    font-size: 16px;
    background-color: antiquewhite;
    height: 16px;
    width: 16px;
}

#list-frames{
  counter-reset: my-sec-counter;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  overflow: hidden;
}
div.frame{
    position: relative;
    display: flex;
    cursor: pointer;
}
div.frame.active{
    outline: solid 4px var(--panel-outline-color);
}
div.frame.active canvas{
    margin: 3px;
}
div.frame::before{
    content: counter(my-sec-counter);
    counter-increment: my-sec-counter;
    font-family: "Jersey 10";
    font-size: 10px;
    color: var(--panel-outline-color);
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
}
div.frame.active::before{
    color: var(--light-text-color);
    background-color: var(--panel-outline-color);
    padding: 8px 12px;
    position: absolute;
    left: -4px;
    top: -4px;
    text-align: center;
    align-content: center;
}
.color-picker{
    position: relative;
    background-color: #16021E;
    display: flex;
    justify-content: center;
    padding: 8px;
}
.cromatico{
    position: relative;
}
.marker{
    --marker-size:10px;
    display: block;
    height: var(--marker-size);
    width:  var(--marker-size);
    border-radius: 100%;
    position: absolute;
    box-shadow: #fff 0 0 0 2px inset;
}
#pane-wornking-colors .body{
    overflow-y: hidden;
}
.working-colors {
    position: absolute;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    left: 8px;
}
.work-color{
    display: inline-block;
    height: 16px;
    width: 16px;
    border: #fff solid 1px;
    border-radius: 4px;
    position:absolute;
}
.work-color.primary-color{
    top:8px;
    left:8px;
    z-index:0;
}
.modal{
    position: absolute;
    background-color: #53365E;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}
.modal.hidden{
    display: none;
}
.modal-content{
    padding: 16px 20px;
}
.modal-color{
    flex: 1;
    height: 16px;
    width: 50%;
}
input{
    background-color: #896A95;
    border: none;
    outline: none;
    font-family: "Jersey 10";
    color: var(--light-text-color);
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    width: calc(100% - 16px);
}
.input-group{
    display: flex;
    text-align: center;
    align-items: center;
    gap:4px;
}
div#picker-control {
    padding: 4px 8px;
}
#picker-control .input-group{
    width: 100%;
    flex-direction: column-reverse;
}
select[name="color-pattern"]{
    padding-left: 0;
    padding-right: 0;
}
.color-form.hidden {
    display: none;
}
.input-label{
    font-family: "Jersey 10";
    color: var(--light-text-color);
    font-size: 16px;
    display: block;
    align-content: center;
}
.color-form .input-label{
    color: #896A95;
}
#modal-color-picker{
    transform: translate(0%, 0%);
    z-index: 10;
    right: auto;
    left: auto;
    bottom: auto;
    top: auto;
    margin-right: 10px;
}
#add-color{
    align-self: baseline;
}
.floating-toolbar {
    background: #795289;
    position: absolute;
    bottom: 10px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow: clip;
}
.floating-toolbar .grip{
    background: #2f1438;
    padding: 8px;
}
.floating-toolbar .floating-toolbar-content {
    display: flex;
    gap: 2px;
    align-self: stretch;
}
.floating-toolbar .floating-toolbar-content button.select-tool {
    background: transparent;
    color: var(--light-text-color);
}
.floating-toolbar .floating-toolbar-content button.select-tool.active {
    background: #3d2745;
    color: var(--light-text-color);
}


@media screen and (max-width:800px) {
    
.content {
    grid-template-areas: "top top right"
                        "left canvas right"
                         "footer footer right";
    grid-template-columns: auto 1fr 0px;
    grid-template-rows: auto 1fr auto;
} 
section#pane-left{
    grid-template-columns: auto;
}
section#pane-left #pane-colors{
    display: none;
    display: block;
}
section#pane-right{
    
}
section#drawing-area{
    
}
section#pane-top{

}
section#pane-footer{

}
}